header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	padding: 0 1rem;
	background-color: #eaeaea;
    margin-top: 30px;
	
}

nav li {
	margin: 0 1rem;
    list-style: none;
	text-decoration: none;
    font-size: 18px; 
}

.nav-links:hover {
	font-weight: 700;
     
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	display: none;
	/* opacity: 0; */
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

   #dark header {
    background-color:#696969;
    }
    
    #dark header .nav-links {
    color: #eaeaea;
    }
    
   #dark header .nav-links:hover {
	font-weight: 700;
	 
    } 
    
    #dark header .nav-btn {
        color: #eaeaea;
    }
    
    #dark nav .nav-close-btn {
        color: #000000;
    }

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		display: block; 
	}

	header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 55%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 1.3rem;
		background-color: white;
		transition: 0.7s;
		transform: translateX(-100vh);
	}

	header .responsive_nav {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		left: 2rem;
	}

	nav li {
		font-size: 19px;
		margin-left: 90px;
	}

    #dark nav li {
        text-decoration: none;
    }

    #dark header .nav-links {
        color: #000000;
    }
}
@media only screen and (max-width: 500px) {
	header .nav-btn {
		display: block; 
	}

	header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 60%;
		display: flex;
		flex-direction:column;
		align-items: flex-start;
		justify-content: center;
		gap: 1.3rem;
		background-color: white;
		transition: 0.7s;
		transform: translateX(-100vh);
	}

	header .responsive_nav {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		left: 2rem;
	}

	nav li {
		font-size: 17px;
	}

    #dark nav li {
        text-decoration: none;
    }

    #dark header .nav-links {
        color: #000000;
    }
}
@media only screen and (max-width: 360px) {
	header .nav-btn {
		display: block; 
	}

	header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 60%;
		display: flex;
		flex-direction:column;
		align-items: flex-start;
		justify-content: center;
		gap: 1.1rem;
		background-color: white;
		transition: 0.7s;
		transform: translateX(-100vh);
	}

	header .responsive_nav {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		left: 2rem;
	}

	nav li {
		font-size: 16px;
	}

    #dark nav li {
        text-decoration: none;
    }

    #dark header .nav-links {
        color: #000000;
    }
}









