/* TITLE SECTION */

.health--title--section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 75px;
}

.health--title--section h1 {
    font-size: 45px;
 }

 #dark .health--title--section h1 {
    color: #ececec;
 }


.health--articles--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;   
    margin-top: 30px;
}

.health--article--single {    
    height:500px;  
}

.health--news--img {     
    width: 400px;
    border-radius: 5px;
    margin-top: 10px; 
}

.health--title--article {
    display: flex;
    width: 400px;
    font-size: 20px;   
    margin-top: 10px; 
}

.health--abstract--article {   
    width: 400px;
    font-size: 15px;
    margin-top: 10px;
}

#dark .health--title--article {
    color: #ececec;
}

#dark .health--abstract--article {
    color: #ececec;
}

#dark .health--news--img {
    border: 1px solid #ececec;
}



/* LINE */

.health--dividing--line {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    background-color: black;
    height: 4px;

}

#dark .health--dividing--line {
    background-color: #ececec;
}

@media (min-width: 835px) and (max-width: 935px) {

   .health--article--single {
      height: 450px;
     }
   
     
   .health--news--img {
      width: 360px;
   }

   .health--title--article {
      width: 360px;
   }

   .health--abstract--article {
      width: 360px;
   }
}

@media (min-width: 765px) and (max-width: 834px) {

  .health--articles--container {
     margin-top: 50px;
  }

  .health--article--single {
   height: 450px;
  }


  .health--news--img {
     width: 330px;
  }

  .health--title--article {
     width: 330px;
  }

  .health--abstract--article {
     width: 330px;
  }
}

@media (min-width: 695px) and (max-width: 764px) {

  .health--articles--container {
     margin-top: 50px;
  }

  .health--article--single {
   height: 450px;
  }

  .health--news--img {
     width: 300px;
  }

  .health--title--article {
     width: 300px;
  }

  .health--abstract--article {
     width: 300px;
  }
}

@media (min-width: 570px) and (max-width: 694px) {

  .health--articles--container {
      flex-direction: column;
      margin-top: 20px;
      margin-bottom: 50px;
  }

  .health--article--single {
     height: 100%;
     margin-top: 30px; 
     width: 100%;
  }

  .health--news--img {
     width: 100%;
  }

  .health--title--article {
   width: 95%;
  }

  .health--abstract--article {
   width: 95%;
  }
}

@media (min-width: 460px) and (max-width: 569px) {

  .health--articles--container {
      flex-direction: column;
      margin-top: 20px;
      margin-bottom: 50px;
  }

  .health--article--single {
     height: 100%;
     margin-top: 30px; 
     width: 100%;
  }

  .health--news--img {
     width: 100%;
  }

  .health--title--article {
   width: 95%;
  }

  .health--abstract--article {
   width: 95%;
  }
}

@media (min-width: 360px) and (max-width: 459px) {

  .health--articles--container {
      flex-direction: column;
      margin-top: 20px;
      margin-bottom: 50px;
  }

  .health--article--single {
     height: 100%;
     margin-top: 30px; 
     width: 100%;
  }

  .health--news--img {
   width: 100%;
  }

  .health--title--article {
   width: 95%;
  }

  .health--abstract--article {
   width: 95%;
  }
}