/* TITLE SECTION */

.world--title--section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 75px;
    text-decoration: none;
}

.world--title--section h1 {
    font-size: 45px;
 }

 #dark .world--title--section h1 {
    color: #ececec;
 }


.world--articles--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;   
    margin-top: 30px;
}

.world--article--single {    
    height:500px;  
}

.world--news--img {     
    width: 400px;
    height: 265px;
    border-radius: 5px;
}

.world--title--article {
    display: flex;
    width: 400px;
    font-size: 20px;   
    margin-top: 10px;
}

.world--abstract--article {   
    width: 400px;
    font-size: 15px;
    margin-top: 10px;
}

#dark .world--title--article {
    color: #ececec;
}

#dark .world--abstract--article {
    color: #ececec;
}

#dark .world--news--img {
    border: 1px solid #ececec;
}



/* LINE */

.world--dividing--line {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    background-color: black;
    height: 4px;

}

#dark .world--dividing--line {
    background-color: #ececec;
}



@media (min-width: 835px) and (max-width: 935px) {

   .world--article--single {
      height: 470px; 
   }

   .world--news--img {
      width: 360px;
      height: 250px;
   }

   .world--title--article {
      width: 360px;
   }

   .world--abstract--article {
      width: 360px;
   }
}

@media (min-width: 765px) and (max-width: 834px) {

  .world--article--single {
     height: 470px; 
  }

  .world--news--img {
     width: 330px;
     height: 230px;
  }

  .world--title--article {
     width: 330px;
  }

  .world--abstract--article {
     width: 330px;
  }
}
@media (min-width: 695px) and (max-width: 764px) {

  .world--article--single {
     height: 470px; 
  }

  .world--news--img {
     width: 300px;
     height: 200px;
  }

  .world--title--article {
     width: 300px;
  }

  .world--abstract--article {
     width: 300px;
  }
}

@media (min-width: 570px) and (max-width: 694px) {

  .world--articles--container {
      flex-direction: column;
  }

  .world--article--single {
     height: 100%;  
     margin-top: 50px;
     margin-bottom: 30px;
  }

  .world--news--img {
     width: 500px;
     height: 300px;
  }

  .world--title--article {
     width: 500px;
  }

  .world--abstract--article {
     width: 500px;
  }
}

@media (min-width: 460px) and (max-width: 569px) {

  .world--articles--container {
      flex-direction: column;
  }

  .world--article--single {
   margin-top: 50px;
   margin-bottom: 30px;
     height: 100%;  
  }

  .world--news--img {
     width: 400px;
  }

  .world--title--article {
     width: 400px;
  }

  .world--abstract--article {
     width: 400px;
  }
}

@media (min-width: 360px) and (max-width: 459px) {

  .world--articles--container {
      flex-direction: column;
  }

  .world--article--single {
     height: 100%;  
     margin-top: 50px;
     margin-bottom: 30px;
  }

  .world--news--img {
     width: 320px;
     height: 200px;
  }

  .world--title--article {
     width: 320px;
  }

  .world--abstract--article {
     width: 320px;
  }
}