.title--article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 75px;
}

.title {
    font-size: 45px;
}

.search--articles--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

.search--article--single {
    height: 500px;
 
}

.search--news--img {
    width: 400px;
    height: 250px;
    border-radius: 5px;
}

.search--section--article {
    margin-top: 8px;
    width: 100%;
    text-align: left;
    font-weight: 500;
    text-decoration: underline;
    color: #000000;
    font-size: 17px;
 
}

.search--title--article {
    display: flex;
    width: 400px;
    margin-top: 10px;
    font-size: 20px;
    text-transform: capitalize;
}

.search--abstract--article {
    width: 400px;
    font-size: 15px;
    margin-top: 10px;
}

#dark .search--news--img {
    border: 1px solid #ececec
}

#dark .search--section--article {
    color: #ececec;
}

#dark .search--title--article {
    color: #ececec;
}

#dark .search--abstract--article {
    color: #ececec;
}

@media (min-width: 835px) and (max-width: 935px) {
     
    .search--news--img {
       width: 360px;
       height: 240px;
    }

    .search--title--article {
       width: 360px;
       
    }

    .search--abstract--article {
       width: 360px;
    }
}

@media (min-width: 765px) and (max-width: 834px) {

    .search--articles--container {
       margin-top: 50px;
    }
 
    .search--news--img {
       width: 330px;
       height: 220px;
    }
 
    .search--title--article {
       width: 320px;
    }
 
    .search--abstract--article {
       width: 320px;
    }
 }

@media (min-width: 695px) and (max-width: 764px) {

    .search--articles--container {
       margin-top: 50px;
    }
 
    .search--news--img {
       width: 300px;
       height: 200px;
    }
 
    .search--title--article {
       width: 300px;
    }
 
    .search--abstract--article {
       width: 300px;
    }
 }

@media (min-width: 570px) and (max-width: 694px) {

    .title {
        font-size: 35px;
    }

    .search--articles--container {
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 50px;
    }
 
    .search--article--single {
       height: 100%;
       margin-top: 30px; 
        
    }
 
    .search--news--img {
       width: 500px;
       height: 330px;
    }
 
    .search--title--article {
     width: 480px;
    }
 
    .search--abstract--article {
        width: 480px;
    }
 }

@media (min-width: 460px) and (max-width: 569px) {
    
    .title {
        font-size: 30px;
    }

    .search--articles--container {
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 50px;
    }
 
    .search--article--single {
       height: 100%;
       margin-top: 30px; 
 
    }
 
    .search--news--img {
       width: 400px;
       height: 280px;
    }
 
    .search--title--article {
        width: 390px;
    }
 
    .search--abstract--article {
        width: 390px;
    }
 }

@media (min-width: 360px) and (max-width: 459px) {

    .title {
        font-size: 26px;
    }

    .search--articles--container {
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 50px;
    }
 
    .search--article--single {
       height: 100%;
       margin-top: 30px; 
        
    }
 
    .search--news--img {
     width: 310px;
     height: 210px;
    }

    .search--title--article {
        width: 310px;
    }
 
    .search--abstract--article {
        width: 310px;
    }
 }