a {
    text-decoration: none;
    color: black;
}

.home--articles--container {
    margin-top: 20px;
    text-decoration: none;
}

.top--mini--news--container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 100px;
}

.top--news--img {
    width: 650px;
    border-radius: 5px;
}

.top--news--img:hover {
    box-shadow: 6px 6px 6px #848484;
}

.top--news--section {
    width: 100%;
    text-align: left;
    margin-top: 5px;
    border-radius: 2px;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-decoration: underline;
 
}

.top--news--title:hover {
    color:rgb(153, 90, 189);
}

.top--news--title--h2 {
    font-size: 28px;
    width: 650px;
    margin-top: 15px;
}

.top--news--abstract {
    width: 600px;
    font-weight: 400;
    font-size: 17px;
    margin-top: 15px;
}

#dark .top--news--section {
    color: #ececec;
}

#dark .top--news--img {
    border: 1px solid #ececec;
}

#dark .top--news--title:hover {
    color:rgb(153, 90, 189);
}

#dark .top--news--abstract {
    color: #ececec;
}

#dark .top--news--title {
    color: #ececec;
}

.mini--news--general {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;  
}

.mini--news--container {
    display: flex;
    flex-wrap: wrap;
}

.mini--news--info--text {
    font-size: 12px;
    margin-left: 10px;
    height: 190px;
}

.mini--news--section {
    margin-bottom: 3px;
    text-align: left;
    width: 100%;
    border-radius: 2px;
    font-weight: 500;
    text-decoration: underline;
    font-size: 15px;
}

.mini--news--img {
    width: 280px;
    height: 180px;
    border-radius: 5px; 
}

.mini--news--img:hover {
    box-shadow: -4px -4px 6px #848484;
}

.mini--news--title:hover {
    color:rgb(153, 90, 189);
}

.mini--news--title--h2 {
    width: 300px;
    font-size: 17px;
    margin: 0px;
}

.mini--news--abstract {
    width: 250px;
    margin-top: 10px;
}

#dark .mini--news--info--text {
    color: #ececec;
}

#dark .mini--news--title {
    color: #ececec;
}

#dark .mini--news--title:hover {
    color:rgb(153, 90, 189);
}

#dark .mini--news--img {
    border: 1px solid #ececec;
}



/* DIVIDING LINE: READ MORE */

.dividing--line {
    height: 4px;
    background-color: black;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.dividing--line2 {
    height: 4px;
    background-color: black;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.first--dividing--line--text {
    font-size: 35px;
    padding-top: 17px;
}

.dividing--line--text {
    padding-top: 17px;
}

#dark .dividing--line {
    background-color: #ececec;
}

#dark .dividing--line2 {
    background-color: #ececec;
}

#dark .first--dividing--line--text {
    color: #ececec;
}

#dark .dividing--line--text {
    color:#ececec;
}


/* FIRST LINE NEWS */

.main--articles--general {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 80px;
}

.main--articles--container {
    height:500px;
}

.main--articles--section {
    margin-top: 5px;
    width: 100%;
    text-align: left;
    font-weight: 500;
    text-decoration: underline;
    color: #000000;
    font-size: 18px;
}

.main--articles--img {
    width: 400px;
    height: 250px;
    border-radius: 5px;  
}

.main--articles--img:hover {
    box-shadow: 6px 6px 6px #848484;
}

.main--articles--info--text {
    margin-top: 10px;
    width: 400px;
}

.main--articles--title {
    font-size: 20px;
}

.main--articles--title:hover {
    color:rgb(153, 90, 189);
}

.main--articles--abstract {
    font-size: 15px;
    margin-top: 10px;
}

#dark .main--articles--section {
    color: #ececec;
}

#dark .main--articles--title {
    color: #ececec;
}

#dark .main--articles--title:hover {
    color:rgb(153, 90, 189);
}

#dark .main--articles--abstract {
    color: #ececec;
}

#dark .main--articles--img {
    border: 1px solid #ececec;
}




@media (min-width: 972px) and (max-width: 1019px) {

    .top--mini--news--container {
        flex-direction: column;
        margin-top: 70px;
    }

    .top--news--general {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
    .top--news--img {
        width: 860px;
    }

    .top--news--title--h2,
    .top--news--abstract {
        margin-top: 15px;
        width: 860px;
    }

    .mini--news--general {
      margin-top: 80px; 
      justify-content: space-around;
      flex-wrap: nowrap;
      height: 100%;   
    }

    .mini--news--container {
         width: 280px;
    }
    
    .mini--news--info--text {
        margin-top: 7px;
        margin-left: 0px;  
        height: 100%;   
    }

    .mini--news--img {
        width: 280px;
        
    }

    .mini--news--title--h2,
    .mini--news--abstract {
        width: 280px;
        margin-top: 10px;
    }
 

    .main--articles--general {
        justify-content: space-between;
        margin-top: 110px;
    }

    .main--articles--container {
        height: 460px;
    }

    .main--articles--section {
        font-size: 15px;
    }

    .main--articles--img {
        width: 280px;
        height: auto;
    }
    
    .main--articles--info--text {
        width: 260px;
        line-height: 19px;
    }

    .main--articles--title {
        font-size: 17px;
    }

    .main--articles--abstract {
        font-size: 13px;
        margin-top: 10px;
    }
  
}

@media (min-width: 900px) and (max-width: 971px) {

    .top--mini--news--container {
        flex-direction: column;
        margin-top: 70px;
    }

    .top--news--general {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
    .top--news--img {
        width: 800px;
    }

    .top--news--title--h2,
    .top--news--abstract {
        margin-top: 15px;
        width: 800px;
    }

    .mini--news--general {
      margin-top: 80px; 
      justify-content: space-around;
      flex-wrap: nowrap;
      height: 100%;  
 
    }

    .mini--news--container {
         width: 280px;
    }
    
    .mini--news--info--text {
        margin-top: 10px;
        margin-left: 0px;   
        height: 100%; 
    }

    .mini--news--img {
        width: 260px;
    }

    .mini--news--title--h2,
    .mini--news--abstract {
        width: 240px;
        margin-top: 10px;
    }


    .main--articles--general {
        justify-content: space-between;
        margin-top: 110px;
    }

    .main--articles--container {
        height: 410px;
    }

    .main--articles--img {
        width: 260px;
        height: auto;
    }
    
    .main--articles--section {
        font-size: 15px;
    }
    .main--articles--info--text {
        width: 250px;
        line-height: 19px;
    }

    .main--articles--title {
        font-size: 16px;
    }

    .main--articles--abstract {
        font-size: 13px;
        margin-top: 10px;
    }
  
}

@media (min-width: 785px) and (max-width: 899px) {

    .top--mini--news--container {
        flex-direction: column;
        margin-top: 70px;
    }

    .top--news--general {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
    .top--news--img {
        width: 700px;
    }

    .top--news--title--h2,
    .top--news--abstract {
        margin-top: 15px;
        width: 680px;
    }

    .mini--news--general { 
      justify-content: center;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      margin-left: 0;
      margin-top: 50px;
    }

    .mini--news--container {     
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .mini--news--section {
        font-size: 20px;
    }
    
    .mini--news--info--text { 
        margin-top: 10px;
        width: 690px;
        margin-left: 0;
    }

    .mini--news--img {
        width: 700px;
        height: auto;
        margin-top: 10px;
    }

    .mini--news--title--h2 {
         font-size: 26px;
         width: 690px;
         margin-top: 10px;
    }

    .mini--news--abstract {
        margin-top: 10px;
        font-size: 18px;
        width: 690px;
    }

    .main--articles--general {
        justify-content: space-between;
        width: 90%;
    }

    .main--articles--container {
        height: 480px;
    }

    .main--articles--img {
        width: 340px;
        height: auto;
    }

    .main--articles--section {
        font-size: 16px;
    }
    
    .main--articles--info--text {
        width: 340px;
    }

    .main--articles--title {
        font-size: 18px;
    }

    .main--articles--abstract {
        font-size: 15px;
        margin-top: 10px;
    }
  
}

@media (min-width: 700px) and (max-width: 784px) {

    .top--mini--news--container {
        flex-direction: column;
        margin-top: 70px;
    }

    .top--news--general {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .top--news--img {
        width: 600px;
    }

    .top--news--section {
        margin-top: 7px;
    }

    .top--news--title--h2,
    .top--news--abstract {
        margin-top: 10px;
        width: 580px;
    }

    .mini--news--general {
      justify-content: center;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      margin-left: 0;
      margin-top: 30px;
    }

    .mini--news--container {     
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        height: 100%;
    }

    .mini--news--section {
        font-size: 20px;
    }
    
    .mini--news--info--text { 
        margin-top: 8px;
        margin-left: 0;
    }

    .mini--news--title--h2,
    .mini--news--abstract {
        margin-top: 10px;
    }

    .mini--news--img {
        width: 610px;
        height: auto;
    }

    .mini--news--title--h2 {
         font-size: 26px;
         width: 600px;
    }

    .mini--news--abstract {
        width: 600px;
        font-size: 18px;
    }

    .main--articles--general {
        justify-content: space-between;
        width: 90%;
    }

    .main--articles--container {
        height: 440px;
    }

    .main--articles--img {
        margin-top: 10px;
        width: 300px;
        height: auto;  
    }
    
    .main--articles--info--text {
        width: 290px;
    }

    .main--articles--title {
        font-size: 18px;
    }

    .main--articles--abstract {
        font-size: 15px;
        margin-top: 10px;
    }
  
}

@media (min-width: 590px) and (max-width: 699px) {

    .top--mini--news--container {
        flex-direction: column;
        margin-top: 70px;
    }

    .top--news--general {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .top--news--img {
        width: 510px;
    }

    .top--news--title--h2,
    .top--news--abstract {
        margin-top: 10px;
        width: 510px;
    }

    .top--news--title--h2 {
        font-size: 26px;
    }

    .top--news--abstract {
        font-size: 17px;
    }

    .mini--news--general {
      justify-content: center;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      margin-left: 0;
      margin-top: 30px;
    }

    .mini--news--container {     
        display: flex;
        flex-direction: column;
        margin-top: 20px; 
        height: 100%;
    }

    .mini--news--section {
        font-size: 20px;
        margin-top: 10px;
    }
    
    .mini--news--info--text { 
        margin-left: 0; 
    }

    .mini--news--img {
        width: 515px;
        height: auto;
    }

    .mini--news--title--h2 {
         font-size: 26px;
         width: 510px;
         margin-top: 10px;
    }

    .mini--news--abstract {
        width: 515px;
        margin-top: 10px;
        font-size: 18px;
    }

    .main--articles--general {
        margin-bottom: 50px;
        width: 90%; 
    }

    .main--articles--container {
        display: flex;
        align-items: center;
        justify-content: center;
         width: 100%;
        height: 100%;
        margin-top: 30px;
    }

    .main--articles--section {
         font-size: 20px;
    }

    .main--articles--img {
         width: 515px;
         height: auto;
    }
    
    .main--articles--info--text {
        margin-top: 10;
        height: 100%;
        align-items: center; 
        width: 510px;    
    }

    .main--articles--title {
        font-size: 26px;
    }

    .main--articles--abstract {
        font-size: 18px;
 
    }
}

@media (min-width: 490px) and (max-width: 589px) {

    .top--mini--news--container {
        flex-direction: column;
        margin-top: 70px;
    }

    .top--news--general {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .top--news--section {
        width: 22%;
        margin-top: 7px;
    }
   
    .top--news--img {
        width: 430px;
    }

    .top--news--title--h2,
    .top--news--abstract {
        margin-top: 15px;
        width: 430px;
    }

    .top--news--title--h2 {
        font-size: 26px;
    }

    .top--news--abstract {
        font-size: 17px;
    }

    .mini--news--general {
      margin-top: 30px;
      justify-content: center;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      margin-left: 0;
    }

    .mini--news--container {     
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .mini--news--section {
        font-size: 20px;
        margin-top: 4px;
    }
    
    .mini--news--info--text { 
        height: 100%;
        margin-top: 10px;  
        margin-left: 0;   
    }

    .mini--news--img {
        width: 425px;
        height: auto;
    }

    .mini--news--title--h2 {
         font-size: 26px;
         margin-top: 10px;
         width: 420px;
    }

    .mini--news--abstract {
        width: 420px;
        margin-top: 10px;
        font-size: 17px;
    }

    .main--articles--general {
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 50px;
        width: 90%;
    }

    .main--articles--container {
        height: 100%;
    }

    .main--articles--img {
        width: 425px;
        height: auto; 
        margin-top: 50px; 
    }

    .main--articles--section {
        width: 100%;
        font-size: 20px;
    }
    
    .main--articles--info--text {
        width: 425px;
        margin-top: 10px;   
    }

    .main--articles--title {
        font-size: 22px;
        width: 100%;
    }

    .main--articles--abstract {
        font-size: 15px;
        margin-top: 10px;
    }
}

@media (min-width: 360px) and (max-width: 489px) {

    .top--mini--news--container {
        flex-direction: column;
        margin-top: 70px;
    }

    .top--news--general {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .top--news--section {
        width: 30%;
    }
   
    .top--news--img {
        width: 320px;
    }

    .top--news--title--h2,
    .top--news--abstract {
        margin-top: 10px;
        width: 320px;
    }

    .top--news--title--h2 {
        font-size: 22px;
    }

    .top--news--abstract {
        font-size: 15px;
    }

    .mini--news--general {
      margin-top: 30px;
      justify-content: center;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      margin-left: 0;
    }

    .mini--news--container {     
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .mini--news--section {
         
        font-size: 20px;
    }
    
    .mini--news--info--text { 
        height: 100%;
        margin-top: 7px;  
        margin-left: 0;  
    }

    .mini--news--img {
        width: 325px;
        height: auto;
    }

    .mini--news--title--h2 {
         font-size: 22px;
         width: 320px;
         margin-top: 10px;
    }

    .mini--news--abstract {
        width: 320px;
        margin-top: 10px;
        font-size: 15px;  
    }

    .main--articles--general {
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 50px;
        width: 90%;
       
    }

    .main--articles--container {
        height: 100%;
    }

    .main--articles--section {
        background-color: transparent;
        width: 100%;
        text-align: left;
        text-decoration:underline;
        font-size: 20px;
    }

    .main--articles--img {
        width: 320px;
        height: auto;  
        margin-top: 50px;
    }
    
    .main--articles--info--text {
        width: 320px;
        margin-top: 10px;      
    }

    .main--articles--title {
        font-size: 22px;
        width: 100%;
    }

    .main--articles--abstract {
        font-size: 15px;
        margin-top: 10px;
    }
}









