.render--title--section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 75px;
}

.render--title--section h1 {
    font-size: 45px;
    text-transform: capitalize;
 }

 #dark .render--title--section h1 {
    color: #ececec;
 }


.render--articles--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;   
    margin-top: 30px;
}

.render--article--single {    
    height:500px;  
}

.render--news--img {     
    width: 400px;
    border-radius: 5px;
}

.render--news--img:hover {
   box-shadow: 5px 5px 5px #848484;
}

.render--title--article {
    display: flex;
    width: 400px;
    font-size: 20px; 
    margin-top: 10px;   
}

.render--title--article:hover {
   color:rgb(153, 90, 189);
}

.render--abstract--article {   
    width: 400px;
    font-size: 15px;
    margin-top: 10px; 
}

#dark .render--title--article {
    color: #ececec;
}

#dark .render--title--article:hover {
	color:rgb(153, 90, 189);
}

#dark .render--abstract--article {
    color: #ececec;
}

#dark .render--news--img {
    border: 1px solid #ececec;
}

/* LINE */

.render--dividing--line {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    background-color: black;
    height: 4px;

}

#dark .render--dividing--line {
    background-color: #ececec;
}


@media (min-width: 835px) and (max-width: 935px) {
     
    .render--news--img {
       width: 360px;
    }

    .render--title--article {
       width: 360px;
    }

    .render--abstract--article {
       width: 360px;
    }
}

@media (min-width: 765px) and (max-width: 834px) {

   .render--articles--container {
      margin-top: 50px;
   }

   .render--news--img {
      width: 330px;
   }

   .render--title--article {
      width: 330px;
   }

   .render--abstract--article {
      width: 330px;
   }
}

@media (min-width: 695px) and (max-width: 764px) {

   .render--articles--container {
      margin-top: 50px;
   }

   .render--news--img {
      width: 300px;
   }

   .render--title--article {
      width: 300px;
   }

   .render--abstract--article {
      width: 300px;
   }
}

@media (min-width: 570px) and (max-width: 694px) {

   .render--articles--container {
       flex-direction: column;
       margin-top: 20px;
       margin-bottom: 50px;
   }

   .render--article--single {
      height: 100%;
      margin-top: 30px; 
      width: 100%;
   }

   .render--news--img {
      width: 100%;
   }

   .render--title--article {
      width: 500px;
   }

   .render--abstract--article {
      width: 500px;
   }
}

@media (min-width: 460px) and (max-width: 569px) {

   .render--articles--container {
       flex-direction: column;
       margin-top: 20px;
       margin-bottom: 50px;
   }

   .render--article--single {
      height: 100%;
      margin-top: 30px;  
   }

   .render--news--img {
      width: 390px;
   }

   .render--title--article {
      width: 390px;
   }

   .render--abstract--article {
      width: 390px;
   }
}

@media (min-width: 360px) and (max-width: 459px) {

   .render--articles--container {
       flex-direction: column;
       margin-top: 20px;
       margin-bottom: 50px;
   }

   .render--article--single {
      height: 100%;
      margin-top: 30px; 
   }

   .render--news--img {
      width: 310px;
   }

   .render--title--article {
      width: 310px;
   }

   .render--abstract--article {
      width: 310px;
   }
}