.books--title--section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 75px;
}

.books--title--section h1 {
    font-size: 45px;
 }

 #dark .books--title--section h1 {
    color: #ececec;
 }


.books--articles--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;   
    margin-top: 30px;
}

.books--article--single {    
    height:500px;  
}

.books--news--img {     
    width: 400px;
     
    border-radius: 5px;
}

.books--title--article {
    display: flex;
    width: 400px;
    font-size: 20px;   
    margin-top: 10px; 
}

.books--abstract--article {   
    width: 400px;
    font-size: 15px;
    margin-top: 10px; 
}

#dark .books--title--article {
    color: #ececec;
}

#dark .books--abstract--article {
    color: #ececec;
}

#dark .books--news--img {
    border: 1px solid #ececec;
}



/* LINE */

.books--dividing--line {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    background-color: black;
    height: 4px;

}

#dark .books--dividing--line {
    background-color: #ececec;
}

@media (min-width: 835px) and (max-width: 935px) {
     
    .books--news--img {
       width: 360px;
    }

    .books--title--article {
       width: 360px;
    }

    .books--abstract--article {
       width: 360px;
    }
}

@media (min-width: 765px) and (max-width: 834px) {

   .books--articles--container {
      margin-top: 50px;
   }

   .books--news--img {
      width: 330px;
   }

   .books--title--article {
      width: 330px;
   }

   .books--abstract--article {
      width: 330px;
   }
}

@media (min-width: 695px) and (max-width: 764px) {

   .books--articles--container {
      margin-top: 50px;
   }

   .books--news--img {
      width: 300px;
   }

   .books--title--article {
      width: 300px;
   }

   .books--abstract--article {
      width: 300px;
   }
}

@media (min-width: 570px) and (max-width: 694px) {

   .books--articles--container {
       flex-direction: column;
       margin-top: 20px;
       margin-bottom: 50px;
   }

   .books--article--single {
      height: 100%;
      margin-top: 30px; 
      width: 100%;
   }

   .books--news--img {
      width: 100%;
   }

   .books--title--article {
    width: 90%;
   }

   .books--abstract--article {
    width: 90%;
   }
}

@media (min-width: 460px) and (max-width: 569px) {

   .books--articles--container {
       flex-direction: column;
       margin-top: 20px;
       margin-bottom: 50px;
   }

   .books--article--single {
      height: 100%;
      margin-top: 30px; 
      width: 100%;
   }

   .books--news--img {
      width: 100%;
   }

   .books--title--article {
    width: 90%;
   }

   .books--abstract--article {
    width: 90%;
   }
}

@media (min-width: 360px) and (max-width: 459px) {

   .books--articles--container {
       flex-direction: column;
       margin-top: 20px;
       margin-bottom: 50px;
   }

   .books--article--single {
      height: 100%;
      margin-top: 30px; 
      width: 100%;
   }

   .books--news--img {
    width: 100%;
   }

   .books--title--article {
    width: 90%;
   }

   .books--abstract--article {
    width: 90%;
   }
}