/* TOGGLE LIGHT/DARK MODE */
.switch--toggle {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}

.label--switch {
    font-size: 15px;
    margin-top: 15px;
    margin-right: 5px;
}

.switch--control {
   margin-right: 10px;
   margin-top: 15px;
   transform: scaleX(.8) scaleY(.8);
}


/* ----------------------------------------------------------------------------------------------------------------------- */


#light {
    background-color: white;
}

#light .label--switch {
    font-weight: 500;
}

#light .image--article {
    border-radius: 2px;
}

#light .navbar--container--links li {
    list-style: none;
    padding: 6px 12px;
    font-size: 17px;
}

/* DARK SECTION */

#dark {
    background-color: #121212;
}

#dark .label--switch {
    /* color: #03DAC5; */
    color: #eaeaea;
    font-weight: 500;
}


#dark .title--section {
    color: #eaeaea;
    border-bottom: 1px solid rgba(255, 255, 255)
}

#dark .title--article {
    color: #eaeaea;
}

#dark .abstract--article {
    color: #eaeaea;
}

#dark .image--article {
    border: 1px solid #eaeaea;    
    border-radius: 2px;
}

#dark .footer--container {
    background-color:#3a3a3a;
}

#dark img {
    color: #eaeaea;
}

@media (min-width: 395px) and (max-width: 495px) {
   .label--switch {
    font-size: 13px;
    text-align: center;
   }
}

@media (min-width: 350px) and (max-width: 394px) {
    .label--switch {
     font-size: 12px;
     text-align: center;
    }
 }



